body {
    background-image: url("bg.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
* {
  padding: 0;
  margin: 0;
}


h1{
     font-family:"verdana";
	 color: white;
	 font-size: 40px;
	 float:left;
	 margin: 25px;
}
h5{
	color:white;
}

h3
{  font-family:"Comic Sans";
	 color: white;
	 font-size: 30px;
	 
	 margin: 10px;

}


.active {
	background : red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.9;	
}

li {
	font-style: bold;
	font-family: comic sans ms;
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
	color : red; 
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 50px;
    cursor: pointer;
	font-family:verdana;
    font-weight:bold;	
}

.ablock {
  background-image: url("black.png");
  background-position: center;
  font-family: "comic sans ms";
  margin: auto;
  border: 0px solid white;
  color: white;
  float:left;
  padding:10px;
}

.middle{
	width:60%;
}

.side{
	width:20%;
}


.book{
	margin: 5px 20px ;
	opacity:1.0;
}

.book:hover{
	opacity:0.6;
}
	

.topissues{
	font-family:"Verdana";
	font-style:bold;
	margin: 40px;
	opacity:1.0;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: white; }

 .dropdown:hover .dropdown-content {
    display: block;
}
var slideIndex = 0;	
carousel();gg
p {
    
    font-family: Comic Sans MS;
    font-size: 20px;
	ul {
    list-style-type: none;
	font-family: Verdana;
	font-style: Bold;
	margin:0;
    padding: 0;
    overflow: hidden;
	color : black;
	background-color: black;
	margin: 0;
	 able, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	
}
th, td {
    padding: 15px;
    text-align: center;
	
      
}



